{% extends 'layouts/base_generic.html' %}

{% block sidebar %}
    <ul class="sidebar-nav">
        <li><a href="{% url 'catalog:index' %}">Home</a></li>
        <li><a href="{% url 'catalog:books-list' %}">All books</a></li>
        <li><a href="{% url 'catalog:authors-list' %}">All authors</a></li>
        <li>&nbsp;</li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'catalog:user-loaned' %}">My Books</a></li>
        {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">Site Administration</a></li>{% endif %}
        <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
    {% endif %}
    </ul>
{% endblock %}