{% extends 'layouts/base_generic.html' %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <td>{{ form.username.label_tag }}</td>
            <td><input class="form-control"
                       id="{{ form.username.id_for_label }}"
                       name="{{ form.username.html_name }}"
                       maxlength="{{ form.username.field.max_length }}"
                       autofocus=""
                       type="text" required />
        </div>
        <div class="form-group">
            <td>{{ form.password.label_tag }}</td>
            <td><input class="form-control"
                       id="{{ form.password.id_for_label }}"
                       name="{{ form.password.html_name }}"
                       type="password" required /></td>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
    <div>
        <a href="{% url 'password_reset' %}">Lost password?</a> |
        <a href="{% url 'index' %}">Home</a>
    </div>
{% endblock %}