{% extends "layouts/base_generic.html" %}

{% block content %}
    <h1>Password Reset</h1>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
                <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <input type="submit" class='btn btn-primary' value="Reset password" />
                </div>
            </form>
            <div><a href="{% url 'index' %}">Home</a></div>
        </div>
    </div>
{% endblock %}