{% extends "catalog/layouts/base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <table class="table">
    <tr>
        <th>Author:</th>
        <td><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></td>
    </tr>
    <tr>
        <th>Summary:</th>
        <td><p>{{ book.summary }}</p></td>
    </tr>
    <tr>
        <th>Genres:</th>
        <td>{% for genre in book.genre.all %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>Language:</th>
        <td>{{ book.language }}</td>
    </tr>
    <tr>
        <th>ISBN:</th>
        <td>{{ book.isbn }}</td>
    </tr>
    <tr>
        <th>Copies</th>
        <td>
        {% if book.bookinstance_set.count > 0 %}
            <table class="table">
            <thead>
            <tr>
                <th>Status</th>
                <th>Due Date</th>
                <th>Imprint</th>
                <th>Id</th>
                {% if perms.catalog.can_mark_returned %}
                <th>Renew?</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for copy in book.bookinstance_set.all %}
            <tr>
                <td><p class="{% if copy.status == 'a' %}available{% elif copy.status == 'l' %}onloan{% elif copy.status == 'r' %}reserved{% else %}maintenance{% endif %}">
                    <strong>{{ copy.get_status_display|title }}</strong></td>
                <td>
                    {% if copy.status == 'l' %}
                        {{copy.due_back}}
                        {% if copy.is_overdue %}<strong class="text-danger">OVERDUE</strong>{% endif %}
                    {% else %}
                        n/a
                    {% endif %}
                </td>
                <td>{{copy.imprint}}</td>
                <td>{{copy.id}}</td>
                {% if perms.catalog.can_mark_returned %}
                <td>
                    {% if copy.status == 'l' %}
                        <a href="{% url 'catalog:renew-book-librarian' copy.id %}">(renew)</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <code>--== No Copies Available ==--</code>
        {% endif %}
        </td>
    </tr>
    </table>
    <div>
        <hr>
        {% if perms.catalog.change_book %}<a class="btn btn-default" href="{% url 'catalog:book-update' book.id %}">Update</a>{% endif %}
        {% if perms.catalog.delete_book %}<a class="btn btn-danger" href="{% url 'catalog:book-delete' book.id %}">Delete</a>{% endif %}
    </div>
{% endblock %}